# Private credentials - NEVER commit these
backend/serviceAccountKey.json

# Flutter
**/android/local.properties
**/android/.gradle
**/android/key.properties
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.iml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
venv/
*.db
